<%= simple_form_for @assignment, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Assignment</legend>

		<%= f.input :client_id, :collection => Client.active.alphabetical, :include_blank => true %>
		<%= f.input :deacon_id, :collection => Deacon.active.alphabetical, :include_blank => true %>
		<%= f.input :start_date, :label => "Start Date", :as => :date, :start_year => Date.today.year, :end_year => Date.today.year - 1, :order => [:month, :day, :year] %>
		<%# Only show the end_date on 'edit', not 'new' %>
		<% if controller.action_name == "edit" %>
			<%= f.input :end_date, :label => "End Date", :as => :date, :start_year => Date.today.year, :end_year => Date.today.year - 1, :order => [:month, :day, :year] %>
		<% end %>
		
		<%= f.input :exit_notes, :include_blank => true %>


    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', assignments_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
