<%= simple_form_for @client, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Client</legend>

		<%= f.input :name %>
		<%= f.input :street %>
		<%= f.input :city %>
		<%= f.input :state, :collection => Client::STATES_LIST %>
		<%= f.input :zip %>
		<%= f.input :phone %>
		<%= f.input :active %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', clients_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
