<h2>Inactive Clients</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Client Name</th>
			<th>Phone</th>
			<th>Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @inactive_clients.each do |client| %>
      <tr>
        <td><%= link_to client.name, client_path(client) %></td>
				<td><%= number_to_phone client.phone %></td>
				<td><%= client.address %><br/><%= client.city %>, <%= client.state%>  <%=client.zip%></td>
        <td>
					<%= link_to raw("<i class='icon-file'></i> Details"), client_path(client), :class => 'btn btn-mini' %>
          <%= link_to raw("<i class='icon-pencil'></i> Edit"), edit_client_path(client), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @inactive_clients, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>