<div class="row">
	<div class="span8">
		<h3>Client Details</h3>
		<%= render :partial => "client_details" %>
	</div>
	<div class="span4">
		<h3>Current Deacons</h3>
		<%= render :partial => "assigned_deacons" unless @current_assignments.empty? %>
		<br />
		<%= link_to raw("<i class='icon-plus icon-white'></i> Assign Deacon"), new_assignment_path(:id => @client.id, :from => 'client'), :class => 'btn btn-primary' %>
	</div>
</div>


<div class="form-actions">
  <%= link_to raw("<i class='icon-th-list'></i> Display All Clients"), clients_path, :class => 'btn'  %>&nbsp;&nbsp;
  <%= link_to raw("<i class='icon-pencil'></i> Edit #{@client.proper_name}"), edit_client_path(@client), :class => 'btn' %>&nbsp;&nbsp;
  <%= link_to raw("<i class='icon-trash icon-white'></i> Delete #{@client.proper_name}"), client_path(@client), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
